.banniere{
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 45px;
    display: flex;
    /* justify-content: center; */
    margin-left: 7%;
    margin-right: 20%;
}

.Banner{
    filter : brightness(70%);
    border-radius: 25px;
    position: relative;
}

.titlebanner{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%; 
}
