.divcarrousel{
    width: 80%;
    margin: auto;
}

.picture{
    height: 415px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    position: relative;
    margin-top: 30px;
}

.activeindex{
    position: absolute;
    right: 52%;
    top: 76%;
    font-weight: 500;
    font-size: 18px;
    color:#FFFFFF;
    z-index: 50;
}

.FaChevronRight{
    position: absolute;
    right: 15%;
    top: 340px;
    height: 80px;
    width: 47px;
    color:#FFFFFF;
}

.FaChevronLeft{
    position: absolute;
    right: 84%;
    top: 345px;
    height: 80px;
    width: 47px;
    color:#FFFFFF;
}


@media screen and (max-width: 768px){
    .FaChevronRight, .FaChevronLeft{
        height: 60px;
        width: 27px;
    }

    .picture{
        width: 100%;
        height: 255px;
    }
    
    .FaChevronRight{
        position: absolute;
        right: 10%;
        top: 250px;
    }

    .FaChevronLeft{
        position: absolute;
        right: 80%;
        top: 250px;
    }
}