.body{
    margin: 0%;
}

.Header{
    width: 80%;
    margin: auto;

    height: 68px;
    background: #FFFFFF;
    margin-top: 40px;
    /* margin-right: 10%;
    margin-left: 10%; */
   
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    padding-right: 0%;
    padding-left: 0%;
}

.logo{
    width: 210px;
    min-width: 160px;
    height: 68px;
    margin-left: 0%;
    padding-left: 0%;
}

.nav{
    display: flex;
    height: 34px;
    width: 24%;
    max-width: 34%;
    margin-right: 0%;
    padding-right: 0%;
    justify-content: space-between;
}


.apropos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
    margin-right: 0%;
    padding-right: 0%;
    white-space: nowrap;
}

:focus{
    text-decoration: underline;
}

.accueil{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

:focus{
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    
    .Header{
        height: 47px;
    }

    .logo{
        height: 47px;
        margin-left: 0%;
        width: 100px;
        min-width: 60px;
    }

    .nav{
        height: 17px;
        margin-left: 0%;
        width: 40%;
        max-width: 48%;
    }

    .accueil, .apropos{
        font-size: 18px;
        font-weight: 500;
    }

    
}


@media screen and (max-width: 430px){
    .accueil, .apropos{
        font-size: 12px;
    }
}

@media screen and (width: 1024px){
    .nav{
        width: 35%;
    }
}

