.titrelogement{
    font-style: Medium;
    font-size: 18px;
    fill: solid;
    color: #FF6060;
    margin-bottom: 0%;
    white-space: nowrap;
}

.informationlogement{
    margin-right: 0%;
}
.location{
    Font-style: Medium;
    Font-size: 18px;
    color: #FF6060;
    fill: solid;
    margin-top: 4px;
}

.host{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hostname{
    height: 52px;
    font-style: Medium;
    font-size: 18px;
    Fill: Solid;
    color: #FF6060;
    font-weight: 500;
    width: 93px;
    margin-top: 10px;

}

.hostinformation{
    display: flex;
    margin-bottom: 4px;
    margin-top: 0%;
}

.photohote{
    width: 64px;
    height: 64px;
    border-radius: 50px;
    Fill: Solid;
    margin-top: 10px;
    background-color: #C4C4C4;
}

.hostrates{
   display: flex;
   flex-direction: column;
   margin-top: 0%;
}

.propriete{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

li{
    list-style-type: none;
}

@media screen and (max-width: 768px){
    .host{
        flex-direction: column;
        width: 80%;
    }

    .hostrates{
        margin-bottom: 30px;
        margin-top: 0px;
        justify-content: space-between;
    }

    .propriete{
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .hostinformation{
        margin-left: 75%;
        margin-bottom: -40px;
        margin-right: 0%;
        padding-right: 0%;
    }

    .titrelogement{
        font-size: 18px;
        white-space: normal;
        width: 100%;
    }

    .location{
        font-size: 14px;
    }

    .hostname{
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
    }

    .photohote{
        width: 42px;
        height: 42px;
        margin-right: 0%;
        display: flex;
        align-items: center;
    }
}


@media screen and (max-width: 768px){
    .hostinformation{
        margin-left: 60%;
    }
}