.banniere{
    width: 80%;
    height: 223px;
    border-radius: 25px;
    margin-bottom: 45px;
    display: flex;
    margin-left: 6%;
    margin-right: 21%;
}

.Banner{
    filter : brightness(70%);
    border-radius: 25px;
    position: relative;
    width: 100%;
}

.titlebanner{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%; 
    white-space: nowrap;
}

br{
    display: none;
}

@media screen and (max-width: 768px){
    .banniere{
     
        margin-left: 9%;
        margin-right: 9%;
    }

    .titlebanner{
        font-size: 24px;
        font-weight: 500;
        width: 90%;
        position: absolute;
        top: 40%;
        left: 15%;
        right: 25%; 
    }

    br{
        display: block;
    }

    .Banner{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .banniere{
        border-radius: 10px;
    }
}

@media screen and (max-width: 1238px) and (min-width: 769px){
    .titlebanner{
        font-size: 38px;
    }
}